.vh-100 {
  background-image: url("https://static.wixstatic.com/media/81b34d_6bef526df6fd4f148b7882daca438dc9~mv2.jpeg");
  background-position: center top 100%;
  background-repeat: no-repeat;
  background-size: 900px;
}
