.preloader-wrapper{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all .4s ease;
}

.fade-out-animation{
    opacity:0;
    visibility:hidden;

}